/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include "keymap_italian.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Layer definitions

#define BASE 0
#define SYM 1
#define EXT 2
#define FNC 3
#define SYM2 4
#define ACCENT 5
#define SETTINGS 6

// -----------------

&sk {
    // don't release mods on other mods presses

    ignore-modifiers;
};

/ {
    behaviors {
        // Enables holding the first mod-tap key
        // by performing a tap-release-hold sequence.
        // To use it: "&qt KEYCODE1 KEYCODE2"

        qt: quick_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "QUICK_TAP";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        hr: homerow_mods_ring_finger {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RING_FINGER";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        hp: homerow_mods_pinky_finger {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_PINKY_FINGER";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        tm: thumb_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <160>;
            flavor = "tap-preferred";
        };

        lh: layer_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <160>;
            flavor = "tap-preferred";
        };
    };

    macros {
        // sometimes my device thinks a modifier is being held down
        // pressing all modifiers fixes it.

        unstick: unstick {
            label = "ZM_unstick";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT &kp RSHIFT &kp LCTRL &kp RCTRL &kp LALT &kp RALT &kp LGUI &kp RGUI>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // both right thumb keys

        combo_accent {
            timeout-ms = <200>;
            key-positions = <32 33>;
            bindings = <&mo 0>;
        };

        // internal-left & external-right thumb keys

        combo_sym2 {
            timeout-ms = <200>;
            key-positions = <31 33>;
            bindings = <&mo 0>;
        };

        // both left thumb keys

        combo_settings {
            timeout-ms = <200>;
            key-positions = <30 31>;
            bindings = <&mo 0>;
        };

        // left index & middle fingers (home-row)
        // hold control & space for Adobe workflow

        combo_ctrl_space {
            timeout-ms = <200>;
            key-positions = <12 13>;
            bindings = <&kp LC(SPACE)>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <16 17>;
            layers = <0>;
            timeout-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Base alpha layer

        base {
            label = "Base";
            bindings = <
&kp Q             &kp W             &kp E                 &kp R               &kp T          &kp Y        &kp U                &kp I                  &kp O              &kp P
&hp LEFT_GUI A    &hr LEFT_ALT S    &hm LEFT_CONTROL D    &hm LEFT_SHIFT F    &kp G          &kp H        &hm RIGHT_SHIFT J    &hm RIGHT_CONTROL K    &hr RIGHT_ALT L    &hp RIGHT_GUI SEMICOLON
&kp Z             &kp X             &kp C                 &kp V               &kp B          &kp N        &kp M                &kp COMMA              &kp DOT            &kp SLASH
                                                          &lh 1 BACKSPACE     &lh 2 ENTER    &lh 2 TAB    &lh 1 SPACE
            >;
        };

        // Numbers and high frequency symbols

        num {
            label = "Sym.";
            bindings = <
&kp EXCL       &kp AT        &kp LEFT_BRACE          &kp RIGHT_BRACE          &kp PIPE         &kp PLUS     &kp N7    &kp N8    &kp N9    &kp STAR
&kp HASH       &kp DOLLAR    &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS    &kp TILDE        &kp MINUS    &kp N4    &kp N5    &kp N6    &kp N0
&kp PERCENT    &kp CARET     &kp LEFT_BRACKET        &kp RIGHT_BRACE          &kp BACKSLASH    &kp EQUAL    &kp N1    &kp N2    &kp N3    &kp FSLH
                                                     &trans                   &trans           &trans       &trans
            >;
        };

        // Main modifiers and arrow keys

        sym {
            label = "Mods";
            bindings = <
&kp F1    &kp F2     &kp F3     &kp F4     &none              &kp PG_UP         &kp PAGE_DOWN     &kp UP          &none        &none
&kp F5    &kp F6     &kp F7     &kp F8     &hm LC(C) LC(V)    &kp LEFT_ARROW    &kp DOWN_ARROW    &kp UP_ARROW    &kp RIGHT    &none
&kp F9    &kp F10    &kp F11    &kp F12    &trans             &kp HOME          &kp END           &kp INS         &trans       &trans
                                &trans     &trans             &trans            &trans
            >;
        };

        // Function keys with modifiers

        adj {
            label = "FRow";
            bindings = <
&kp F1      &kp F2      &kp F3        &kp F4       &kp F5      &kp F6     &kp F7     &kp F8             &kp F9    &kp F10
&sk LALT    &sk LGUI    &sk LSHIFT    &sk LCTRL    &kp RALT    &kp F11    &kp F12    &kp PRINTSCREEN    &trans    &trans
&none       &none       &none         &none        &none       &none      &none      &none              &none     &none
                                      &none        &none       &none      &none
            >;
        };

        // Low frequency symbols.
        // Used to type regional accents.
        // Used to change the keyboard's settings.
    };
};
